# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Distribuição / build
build/
dist/
*.egg-info/
.eggs/

# Ambientes virtuais
venv/
.env/
.envrc
.venv/
ENV/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs e temporários
# =========================
*.log
*.tmp
*.temp
*.swp
.DS_Store

# =========================
# AWS / Credenciais
# =========================
.aws/
*.pem
*.key
credentials
config

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# PySpark / Glue (logs locais)
# =========================
spark-warehouse/
metastore_db/
derby.log

# =========================
# Misc
# =========================
*.bak
*.backup
